$red_btn_color: #ff2d2d; // Цвет кнопок
$header_text_color: #e0e0e0; // Цвет текста hedera
$header_hover_menu: #ff3f40; // Цвет ховера в меню headera
$first_section_bgc: #f6f2f2; 
$first_section_frame_bgc: #c4c0b1; // Цвет фрейма видео
$items_bgc: #f5f0dd;
$contacts_bgc: #2d2d2d;
$footer_bgc: #313030;